.eachCard{
  border: solid black;
  width: 500px;
  height: 130px;
  margin-top: 10px;
}
.foodImage{
  float: left;
  padding: 10px;
  width: 210px;
}
.foodName{
  float: left;
}
ul{
  list-style-type: none;
}
.button{
  padding-top: 20px;
  float: right;
  padding-right: 20px;
}
